@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>


<input @bind="newTodo" />
<button class='btn btn-primary btn hover' @onclick="AddTodo">Add todo</button>


<table class="table table-striped table-hover table-sm" style="width:50%; vertical-align: middle;">
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
        @foreach (var todo in todos)
        {
            <tr style="height:50px">
                <td style="width:0%; text-align: right; vertical-align: middle;">
                        <input type="checkbox" @bind="todo.IsDone" />
                </td>
                <td style="width:95%; text-align: left; vertical-align: middle;">
                    @todo.Title
                </td>
                <td style="width:5%; text-align: left; vertical-align: middle;">
                    <button class="btn btn-danger btn-sm btn hover" @onclick="() => DeleteTodo(todo.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {

    private List<TodoItem> todos = new();

    private string? newTodo;

    private int _id = 0;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo, Id = _id });
            newTodo = string.Empty;
            _id++;
        }
    }

    private void DeleteTodo(int id)
    {
        int temp = todos.FindIndex(it => it.Id == id);
        todos.RemoveAt(temp);
    }

}
